<!DOCTYPE html>
<html>
<head>
	<title>My App</title>
	<style>
		body {
			background-color: yellow;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 100vh;
			margin: 0;
		}

		form {
			background-color: white;
			padding: 20px;
			border-radius: 8px;
			margin-top: 20px;
		}

		#filter-form {
			display: none;
		}

		span {
			display: inline-block;
			margin-bottom: 10px;
		}
	</style>
</head>
<body>
	<h1>Enterprise Business Reporting System</h1>
	<form id="login-form">
		<label for="username">Username:</label>
		<input type="text" id="username" name="username"><br><br>
		<label for="password">Password:</label>
		<input type="password" id="password" name="password"><br><br>
		<button type="submit" id="loginButton">Login</button>
	</form>
	<form id="filter-form" style="display: none;">
		<label for="msisdn_nsk">MSISDN:</label>
		<input type="text" id="msisdn_nsk" name="msisdn_nsk">
		<span id="display_msisdn_nsk"></span><br><br>		
		<label for="actual_apn_v">APN Name:</label>
		<input type="text" id="actual_apn_v" name="actual_apn_v">
		<span id="display_actual_apn_v"></span><br><br>
		<label for="economic_code_n">Economic Code:</label>
		<input type="text" id="economic_code_n" name="economic_code_n">
		<span id="display_economic_code_n"></span><br><br>		
		<label for="kit_number_v">Kit Number:</label>
		<input type="text" id="kit_number_v" name="kit_number_v">
		<span id="display_kit_number_v"></span><br><br>
		
		<button type="submit" id="submitButton">Submit</button><br><br>
		<button type="download" id="downloadButton" style="display: none;">Download</button>
	</form>	

    <div id="message-container">
        <!-- The message will be displayed here -->
    </div>	


	<script src="{{ url_for('static', filename='script.js') }}"></script>

	  
</body>
</html>
