<!DOCTYPE html>
<html>
<head>
	<title>My App</title>
</head>
<body>
	<h1>Welcome to my app!</h1>
	<form id="login-form">
		<label for="username">Username:</label>
		<input type="text" id="username" name="username"><br><br>
		<label for="password">Password:</label>
		<input type="password" id="password" name="password"><br><br>
		<button type="submit" id="loginButton">Login</button>
	</form>
	<form id="filter-form" style="display: none;">
		<label for="msisdn_nsk">msisdn_nsk:</label>
		<input type="text" id="msisdn_nsk" name="msisdn_nsk">
		<span id="display_msisdn_nsk"></span><br><br>		
		<label for="actual_apn_v">actual_apn_v:</label>
		<input type="text" id="actual_apn_v" name="actual_apn_v">
		<span id="display_actual_apn_v"></span><br><br>
		<label for="economic_code_n">economic_code_n:</label>
		<input type="text" id="economic_code_n" name="economic_code_n">
		<span id="display_economic_code_n"></span><br><br>		
		<label for="kit_number_v">kit_number_v:</label>
		<input type="text" id="kit_number_v" name="kit_number_v">
		<span id="display_kit_number_v"></span><br><br>
		
		<button type="submit" id="submitButton">Submit</button><br><br>
		<button type="download" id="downloadButton" style="display: none;">Download</button>
	</form>	

    <div id="message-container">
        <!-- The message will be displayed here -->
    </div>	


	<script src="{{ url_for('static', filename='script.js') }}"></script>

	  
</body>
</html>
